# Python caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env


# Adventure Save Data
# (We ignore all folders inside adventures EXCEPT a 'sample' template if you want to provide one)
adventures/*
!adventures/README.md
samples/Samples

# Logs and Exports
*.log
configs/instance_config.json
